<div class="main">
    <section class="add">
        <div class="house" *ngFor="let house of houses |async">
            <div class="image">
                <figure>
                    <picture>
                        <!-- <source src="https://images.unsplash.com/photo-1499424258882-3fc11ba2e15e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80"> -->
                        <img src="https://images.unsplash.com/photo-1499424258882-3fc11ba2e15e" alt="">
                    </picture>
                    <figcaption>
                        {{ house.title }}
                    </figcaption>
                </figure>
            </div>
            <div class="about">
                <div class="heading">
                    <span class="currency">BDT</span>
                    <span class="price"> {{ house.price |number}}</span>
                </div>
                <div class="details">
                    <div class="address">
                        <a [routerLink]="['/house', house.id]">{{ house.address }}</a>
                    </div>
                    <div class="type">{{ house.type }}</div>
                    <div class="description">
                        {{ house.description }}
                    </div>
                    <div class="feature">
                        <div class="bed">
                            <span> {{ house.beds }} </span>
                            <i class="fas fa-bed"></i>
                        </div>
                        <div class="bath">
                            <span> {{ house.baths }} </span>
                            <i class="fas fa-bath"></i>
                        </div>
                        <div class="area">
                            <i class="fas fa-th-large"></i>
                            <span> {{ house.area |number}} sqft</span>
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <button class="btn call">
                        <i class="fas fa-phone-alt"></i>
                        <span> Call </span>
                    </button>
                    <button class="btn email">
                        <i class="fas fa-envelope"></i>
                        <span> Email </span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <aside class="sidebar">
        <h3>What are you looking for &#63;</h3>

        <div class="find-type">
            <h4>House Type</h4>

            <div class="types">
                <a [routerLink]="['/apartment']" routerLinkActive="router-link-active">Apartment</a>
                <a [routerLink]="['/duplex']" routerLinkActive="router-link-active">Duplex</a>
                <a [routerLink]="['/triplex']" routerLinkActive="router-link-active">Triplex</a>
            </div>
        </div>
    </aside>
</div>