<div class="main">
    <section class="add">
        <div class="house">
            <div class="image">
                <figure>
                    <picture>
                        <!-- <source src="https://images.unsplash.com/photo-1499424258882-3fc11ba2e15e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80"> -->
                        <img src="https://images.unsplash.com/photo-1499424258882-3fc11ba2e15e" alt="">
                    </picture>
                    <figcaption>
                        House No 6, Road 3, Bashundhara R/A, Dhaka
                    </figcaption>
                </figure>
            </div>
            <div class="about">
                <div class="heading">
                    <span class="currency">BDT</span>
                    <span class="price"> 35,000</span>
                </div>
                <div class="details">
                    <div class="address">
                        House No 6, Road 3, Block A,
                        Bashundhara R/A, Dhaka-1625
                    </div>
                    <div class="type">Apartment</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ratione omnis minima sint, maxime, perferendis quis, suscipit quam quos quas asperiores cum exercitationem necessitatibus vero.
                    </div>
                    <div class="feature">
                        <div class="bed">
                            <span>4 </span>
                            <i class="fas fa-bed"></i>
                        </div>
                        <div class="bath">
                            <span>3 </span>
                            <i class="fas fa-bath"></i>
                        </div>
                        <div class="area">
                            <i class="fas fa-th-large"></i>
                            <span> 2,050 sqft</span>
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <button class="btn call">
                        <i class="fas fa-phone-alt"></i>
                        <span> Call </span>
                    </button>
                    <button class="btn email">
                        <i class="fas fa-envelope"></i>
                        <span> Email </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Extra 1 -->
        <div class="house">
            <div class="image">
                <figure>
                    <picture>
                        <!-- <source src="https://images.unsplash.com/photo-1499424258882-3fc11ba2e15e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80"> -->
                        <img src="https://images.unsplash.com/photo-1546488854-29722671e979" alt="">
                    </picture>
                    <figcaption>
                        House No 6, Road 3, Bashundhara R/A, Dhaka
                    </figcaption>
                </figure>
            </div>
            <div class="about">
                <div class="heading">
                    <span class="currency">BDT</span>
                    <span class="price"> 35,000</span>
                </div>
                <div class="details">
                    <div class="address">
                        House No 6, Road 3, Block A,
                        Bashundhara R/A, Dhaka-1625
                    </div>
                    <div class="type">Apartment</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ratione omnis minima sint, maxime, perferendis quis, suscipit quam quos quas asperiores cum exercitationem necessitatibus vero.
                    </div>
                    <div class="feature">
                        <div class="bed">
                            <span>4 </span>
                            <i class="fas fa-bed"></i>
                        </div>
                        <div class="bath">
                            <span>3 </span>
                            <i class="fas fa-bath"></i>
                        </div>
                        <div class="area">
                            <i class="fas fa-th-large"></i>
                            <span> 2,050 sqft</span>
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <button class="btn call">
                        <i class="fas fa-phone-alt"></i>
                        <span> Call </span>
                    </button>
                    <button class="btn email">
                        <i class="fas fa-envelope"></i>
                        <span> Email </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Extra 2 -->
        <div class="house">
            <div class="image">
                <figure>
                    <picture>
                        <!-- <source src="https://images.unsplash.com/photo-1499424258882-3fc11ba2e15e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80"> -->
                        <img src="https://images.unsplash.com/photo-1476958526483-36efcaa80b1b" alt="">
                    </picture>
                    <figcaption>
                        House No 6, Road 3, Bashundhara R/A, Dhaka
                    </figcaption>
                </figure>
            </div>
            <div class="about">
                <div class="heading">
                    <span class="currency">BDT</span>
                    <span class="price"> 35,000</span>
                </div>
                <div class="details">
                    <div class="address">
                        House No 6, Road 3, Block A,
                        Bashundhara R/A, Dhaka-1625
                    </div>
                    <div class="type">Apartment</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ratione omnis minima sint, maxime, perferendis quis, suscipit quam quos quas asperiores cum exercitationem necessitatibus vero.
                    </div>
                    <div class="feature">
                        <div class="bed">
                            <span>4 </span>
                            <i class="fas fa-bed"></i>
                        </div>
                        <div class="bath">
                            <span>3 </span>
                            <i class="fas fa-bath"></i>
                        </div>
                        <div class="area">
                            <i class="fas fa-th-large"></i>
                            <span> 2,050 sqft</span>
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <button class="btn call">
                        <i class="fas fa-phone-alt"></i>
                        <span> Call </span>
                    </button>
                    <button class="btn email">
                        <i class="fas fa-envelope"></i>
                        <span> Email </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Extra 3 -->
        <div class="house">
            <div class="image">
                <figure>
                    <picture>
                        <!-- <source src="https://images.unsplash.com/photo-1499424258882-3fc11ba2e15e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80"> -->
                        <img src="https://images.unsplash.com/photo-1446797376004-9352dfc9f789" alt="">
                    </picture>
                    <figcaption>
                        House No 6, Road 3, Bashundhara R/A, Dhaka
                    </figcaption>
                </figure>
            </div>
            <div class="about">
                <div class="heading">
                    <span class="currency">BDT</span>
                    <span class="price"> 35,000</span>
                </div>
                <div class="details">
                    <div class="address">
                        House No 6, Road 3, Block A,
                        Bashundhara R/A, Dhaka-1625
                    </div>
                    <div class="type">Apartment</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ratione omnis minima sint, maxime, perferendis quis, suscipit quam quos quas asperiores cum exercitationem necessitatibus vero.
                    </div>
                    <div class="feature">
                        <div class="bed">
                            <span>4 </span>
                            <i class="fas fa-bed"></i>
                        </div>
                        <div class="bath">
                            <span>3 </span>
                            <i class="fas fa-bath"></i>
                        </div>
                        <div class="area">
                            <i class="fas fa-th-large"></i>
                            <span> 2,050 sqft</span>
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <button class="btn call">
                        <i class="fas fa-phone-alt"></i>
                        <span> Call </span>
                    </button>
                    <button class="btn email">
                        <i class="fas fa-envelope"></i>
                        <span> Email </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Extra 4 -->
        <div class="house">
            <div class="image">
                <figure>
                    <picture>
                        <!-- <source src="https://images.unsplash.com/photo-1499424258882-3fc11ba2e15e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80"> -->
                        <img src="https://images.unsplash.com/photo-1489465363461-d28f25a76d1a" alt="">
                    </picture>
                    <figcaption>
                        House No 6, Road 3, Bashundhara R/A, Dhaka
                    </figcaption>
                </figure>
            </div>
            <div class="about">
                <div class="heading">
                    <span class="currency">BDT</span>
                    <span class="price"> 35,000</span>
                </div>
                <div class="details">
                    <div class="address">
                        House No 6, Road 3, Block A,
                        Bashundhara R/A, Dhaka-1625
                    </div>
                    <div class="type">Apartment</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ratione omnis minima sint, maxime, perferendis quis, suscipit quam quos quas asperiores cum exercitationem necessitatibus vero.
                    </div>
                    <div class="feature">
                        <div class="bed">
                            <span>4 </span>
                            <i class="fas fa-bed"></i>
                        </div>
                        <div class="bath">
                            <span>3 </span>
                            <i class="fas fa-bath"></i>
                        </div>
                        <div class="area">
                            <i class="fas fa-th-large"></i>
                            <span> 2,050 sqft</span>
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <button class="btn call">
                        <i class="fas fa-phone-alt"></i>
                        <span> Call </span>
                    </button>
                    <button class="btn email">
                        <i class="fas fa-envelope"></i>
                        <span> Email </span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Extra 5 -->
        <div class="house">
            <div class="image">
                <figure>
                    <picture>
                        <!-- <source src="https://images.unsplash.com/photo-1499424258882-3fc11ba2e15e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80"> -->
                        <img src="https://images.unsplash.com/photo-1527596773609-5f8544271a51" alt="">
                    </picture>
                    <figcaption>
                        House No 6, Road 3, Bashundhara R/A, Dhaka
                    </figcaption>
                </figure>
            </div>
            <div class="about">
                <div class="heading">
                    <span class="currency">BDT</span>
                    <span class="price"> 35,000</span>
                </div>
                <div class="details">
                    <div class="address">
                        House No 6, Road 3, Block A,
                        Bashundhara R/A, Dhaka-1625
                    </div>
                    <div class="type">Apartment</div>
                    <div class="description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ratione omnis minima sint, maxime, perferendis quis, suscipit quam quos quas asperiores cum exercitationem necessitatibus vero.
                    </div>
                    <div class="feature">
                        <div class="bed">
                            <span>4 </span>
                            <i class="fas fa-bed"></i>
                        </div>
                        <div class="bath">
                            <span>3 </span>
                            <i class="fas fa-bath"></i>
                        </div>
                        <div class="area">
                            <i class="fas fa-th-large"></i>
                            <span> 2,050 sqft</span>
                        </div>
                    </div>
                </div>
                <div class="contact">
                    <button class="btn call">
                        <i class="fas fa-phone-alt"></i>
                        <span> Call </span>
                    </button>
                    <button class="btn email">
                        <i class="fas fa-envelope"></i>
                        <span> Email </span>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <aside class="sidebar">
        <h3>What are you looking for &#63;</h3>

        <div class="find-type">
            <h4>House Type</h4>

            <div class="types">
                <a routerLink="/apartment">Apartment</a>
                <a routerLink="/duplex">Duplex</a>
                <a routerLink="/triplex">Triplex</a>
            </div>
        </div>
    </aside>
</div>
