.main {
  --primary-color: #ea4c89;
  --background-color: #fafafb;
  --card-background: #cccccc;
  --border-light: #e7e7e9;
  --text-color: #3d3d4e;
  --text-light: #6e6d7a;
  --heading-color: #0d0c22;

  .add {
    padding: 1rem 0;
  }
}
