<div class="main">
    <div class="container-fluid">
        <table class="table table-dark table-hover table-bordered" *ngIf="house">
            <thead class="thead-dark">
                <th>Feature</th>
                <th>Details</th>
            </thead>
            <tbody>
                <tr>
                    <td>Title</td>
                    <td>{{ house.title }}</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>{{ house.type }}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{ house.address |titlecase}}</td>
                </tr>
                <tr>
                    <td>District</td>
                    <td>{{ house.district }}</td>
                </tr>
                <tr>
                    <td>Division</td>
                    <td>{{ house.division }}</td>
                </tr>
                <tr>
                    <td>Area</td>
                    <td>{{ house.area |number}}</td>
                </tr>
                <tr>
                    <td>Beds</td>
                    <td>{{ house.beds |number }}</td>
                </tr>
                <tr>
                    <td>Shower</td>
                    <td>{{ house.baths |number }}</td>
                </tr>
                <tr>
                    <td>Drawing</td>
                    <td>{{ house.drawing |number }}</td>
                </tr>
                <tr>
                    <td>Dining</td>
                    <td>{{ house.dining |number }}</td>
                </tr>
                <tr>
                    <td>Kitchen</td>
                    <td>{{ house.kitchen |number }}</td>
                </tr>
                <tr>
                    <td>Parking Space</td>
                    <td *ngIf="house.parking_space" >{{ house.elevators |number }}</td>
                    <td *ngIf="!house.parking_space">❌</td>
                </tr>
                <tr>
                    <td>Elevators</td>
                    <td *ngIf="house.elevators" >{{ house.elevators |number }}</td>
                    <td *ngIf="!house.elevators">❌</td>
                </tr>
                <tr>
                    <td>Service Elevator</td>
                    <td *ngIf="house.service_elevator">✅</td>
                    <td *ngIf="!house.service_elevator">❌</td>
                </tr>
                <tr>
                    <td>Balcony</td>
                    <td *ngIf="house.balcony">✅</td>
                    <td *ngIf="!house.balcony">❌</td>
                </tr>
                <tr>
                    <td>Electricity Backup</td>
                    <td *ngIf="house.electricity_backup">✅</td>
                    <td *ngIf="!house.electricity_backup">❌</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{ house.price |currency: '৳ '}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td style="max-width: 25ch;">{{ house.description }}</td>
                </tr>
                <tr>
                    <td>Advertisement Day</td>
                    <td>{{ house.created |date }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>