<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <div class="container-fluid">
                <div class="text-center mt-5">
                    <div class="error mx-auto" data-text="404">
                        <!-- <img src="assets/images/404.jpeg" alt="404 Image" width="25%"> -->
                        <p style="color: #5a5c69; font-size: 7rem;" class="m-0">404</p>
                    </div>
                    <p class="text-dark mb-5 lead">Page Not Found</p>
                    <p class="text-black-50 mb-0">It looks like you have reached to the edge of the Universe...</p>
                    <a [routerLink]="['/']">← Back to Dashboard</a>
                </div>
            </div>
        </div>
    </div>