<div class="main">
    <section class="container">
        <h1>Rental BD</h1>
        <div class="wrapper">
          <section class="company-info">
            <h2>Reach Us At</h2>
            <ul>
              <li>
                <i class="fas fa-address-card"></i>46/A
                Sankipara Cantonment Road, Mymensingh-2200.
              </li>
              <li>
                <i class="fas fa-phone-alt"></i>(+880) 1XXX XX XX XX
              </li>
              <li>
                <i class="fas fa-envelope"></i> 
                <a href="mailto:admin@rentalbd.com">admin@rentalbd.com</a>
              </li>
              <li>
                <i class="fab fa-facebook-square"></i>
                <a href="">Rental BD</a
                >
              </li>
            </ul>
          </section>
          <section class="contact">
            <h2>Contact Us</h2>
            <form action="./contact.html" method="get">
              <section>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" required />
              </section>
              <section>
                <label for="company">Company</label>
                <input type="text" name="company" id="company" />
              </section>
              <section>
                <label for="mail">Email Address</label>
                <input
                  type="email"
                  name="mail"
                  id="mail"
                  placeholder="test@example.com"
                  required
                />
              </section>
              <section>
                <label for="phone">Phone Number</label>
                <input
                  type="tel"
                  name="phone"
                  id="phone"
                  placeholder="+880 1XXX XX XX XX"
                />
              </section>
              <section class="full">
                <label for="message">Message</label>
                <textarea
                  name="message"
                  id="message"
                  cols="30"
                  rows="10"
                ></textarea>
              </section>
              <section class="full">
                <button>Submit</button>
              </section>
            </form>
          </section>
        </div>
    </section>
</div>