<footer class="bg-dark">
    <div class="container">
        <section class="main-content">
            <div class="summary">
                <a [routerLink]="['/']" routerLinkActive="router-link-active">Rental BD</a>
                <div class="tagline text-muted">
                    Rental BD is Bangladesh's leading community to post and find your dream house of choice.
                </div>
                <div class="social-links text-light">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-github-square"></i></a>
                </div>
            </div>
            <div class="link"></div>
        </section>
        <section class="lower-content text-center d-md-flex justify-content-md-between">
            <div class="my-1">
                &copy; 2021 Rental BD. All rights reserved.
            </div>
            <div class="my-1">
                Made with &hearts; remotely from Bangladesh
            </div>
            <div class="mt-3 my-md-1">
                <span class="text-white">15,000,786</span>
                house added
            </div>
        </section>
    </div>
</footer>