<footer>
    <section class="main-content">
        <div class="summary">
            <a [routerLink]="['/']" routerLinkActive="router-link-active" >Rental BD</a>
            <div class="tagline">
                Rental BD is Bangladesh's leading community to post and find your dream house of choice.
            </div>
            <div class="social-links">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-github-square"></i></a>
            </div>
        </div>
        <div class="link"></div>
    </section>
    <section class="lower-content">
        <div class="copyright">
            &copy; 2021 Rental BD. All rights reserved.
        </div>
        <div class="credit">
            Made with &hearts; remotely from Bangladesh
        </div>
        <div class="views">
            <span class="total">15,000,786</span>
            house added
        </div>
    </section>
</footer>