<div class="container">
    <div class="py-3">
        <div class="card border-0 my-3 bg-dark shadow-lg" *ngIf="house">

            <div class="card-body">
                <h5 class="card-title text-white">{{ house.title }}</h5>
                <h6 class="card-subtitle text-white-50">{{ house.address }}</h6>

                <div class="d-flex text-white-50 my-3">
                    <div class="pe-2">
                        <span> {{ house.beds }} </span>
                        <i class="fas fa-bed"></i>
                    </div>
                    <div class="px-2">
                        <span> {{ house.baths }} </span>
                        <i class="fas fa-bath"></i>
                    </div>
                    <div class="ps-2">
                        <i class="fas fa-th-large"></i>
                        <span> {{ house.area |number}} sqft</span>
                    </div>
                </div>

                <p class="card-text text-muted">{{ house.description }}</p>

                <div class="mt-3">
                    <p class="text-white-50">Are you sure you want to delete the house?</p>
                    <button class="btn btn-danger" (click)="handleSubmit()">Delete</button>
                    <button class="btn btn-secondary ms-3" (click)="goBack()">Go Back</button>
                </div>
            </div>
        </div>
    </div>
</div>